<launch>

  <arg name="odom_frame_id"   default="t265_odom_frame"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="/t265/odom/sample" />
  <arg name="laser_topic" default="depthscan" />
  <arg name="twist_topic" default="/roboclaw/cmd_vel"/>
  <arg name="pointcloud_topic" default="/d400/depth/color/points"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robot_controller)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_controller)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find robot_controller)/param/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find robot_controller)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_controller)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robot_controller)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_controller)/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find robot_controller)/param/navfn_global_planner_params.yaml" command="load" />
    
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <remap from="pointcloud" to="$(arg pointcloud_topic)"/>
    <remap from="cmd_vel" to="$(arg twist_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node>

</launch>