<launch>

  <arg name="model" default="$(find robot_controller)/urdf/robot_description.urdf.xacro"/>
  <arg name="gui" default="false" />  
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch"/>

</launch>
