<launch>

  <arg name="localization" default="false"/>
  <arg     if="$(arg localization)" name="args"  default=""/>
  <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/>

  <!-- start the robot nodes -->
  <include file="$(find robot_gazebo)/launch/gazebo_world.launch"/>

  <!-- realsense depth cloud to laser scan -->
  <!-- laser scan is used for easy 2d costmaps -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image"       to="/d435/depth/image_raw"/>
    <remap from="camera_info" to="/d435/depth/camera_info"/>
    <remap from="scan"        to="/depthscan"/> <!--topic output-->
    <param name="scan_time" type="double" value="0.04"/>
    <param name="output_frame_id" value="d435_depth_frame"/>
    <param name="range_max" type="double" value="20"/>
  </node>

  <!-- SLAM -->
  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
      <param name="frame_id" type="string" value="gazebo_base"/>
      <param name="odom_frame_id" type="string" value="odom"/>

      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_scan" type="bool" value="true"/>
      <param name="rgbd_sync" value="true"/>
      <param name="approx_rgbd_sync" value="false"/>
      <param name="visual_odemtry" value="false"/>

      <!--remap from="odom" to="/t265/odom/sample"/-->
      <remap from="scan" to="/depthscan"/>
      <remap from="grid_map" to="/map"/>
      <remap from="rgb/image"       to="/d435/color/image_raw"/>
      <remap from="depth/image"     to="/d435/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/d435/depth/camera_info"/>

      <param name="queue_size" type="int" value="10"/>

      <!-- RTAB-Map's parameters -->
      <param name="Mem/UseOdomGravity"      value="true"/>
      <param name="Optimizer/GravitySigma"  value="0.3"/>
      <param name="Kp/MaxFeatures"          value="-1"/>
      <param name="RGB/ProximityBySpace"    value="false"/>

      <!-- Enable GPU acceleration-->
      <param name="FAST/Gpu"                value="true"/>
      <param name="ORB/Gpu"                 value="true"/>
      <param name="SURF/GpuVersion"         value="true"/>

      <!-- localization mode -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> 
      
    </node>
  </group>
</launch>